-e .
Faker
altair
backoff
bokeh
freezegun
matplotlib
mock
moto
munch
plotly
pre-commit
pytest
pytest-cov
pytest-mock
pytest-timeout
pytest-xdist
seaborn

# Get rid of these
tensorflow
torch
vega_datasets
optuna
scikit-learn
torchvision
accelerate
transformers
pytorch-lightning
